@model IEnumerable<ResourceControl.Models.Resource>

@{
    ViewData["Title"] = "Resource List";
}

<h2>Resources</h2>

<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary" asp-action="Create">New Resource</a>
    </div>
    <div class="col-xs-10">
        <form class="pull-right" asp-controller="Resources" asp-action="Index" method="get">
             <input type="text" class="form-text" name="SearchString">
             <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>
</div>

<table class="table margin clickable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="hide-when-small">
                    @Html.DisplayNameFor(model => model.Observation)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href='@Url.Action("Details", "Resources", new {id = item.ID})'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="hide-when-small">
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
