﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
    color: #024b8a;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 240px;
}

.form-text {
    font-size: 1.2em;
    padding-left: 4px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.navbar {
    background-color: #024b8a;
    color: #eee;
}

    .navbar a {
        margin-left: 15px;
        color: #fff !important;
    }

    .navbar a:visited {
        color: #fff !important;
    }

        .navbar a:hover {
            background-color: #428bca !important;
            transition: background-color 300ms;
        }

.clickable tbody tr:hover {
    cursor: pointer;
    background-color: #fff;
    transition: background-color 300ms;
}

table {
    font-size: 1.1em;
}

h2 {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 14px;
}

.nav-buttons {
    display: inline-block;
    float: right;
    margin-top: 28px;
}

.margin {
    margin-top: 28px;
}

th {
    background-color: #327bba;
    color: #fff;
}

th, td {
    border-bottom: 1px solid #327bba !important;
}

td {
    border-top: 1px solid #327bba;
}
        
.row {
    margin-top: 20px;
     margin-bottom: 12px;
}

form .btn {
    margin-left: 2px;
}

dt, dd {
    padding: 6px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 470px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .hide-when-small {
        display: none;
    }
    h2 {
        margin-bottom: 12px;
    }
    .nav-buttons {
        float: none;
        margin-top: 0px;
        margin-bottom: 12px;
    }
    .form-text {
        max-width: 120px;
    }
}

@media screen and (max-width: 360px) {
    .form-text {
        max-width: 80px;
    }
}
