@model ResourceControl.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this person?</h3>
<div class="nav-buttons">
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<div>
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>
</div>
