@model ResourceControl.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h2>Person Details</h2>
<div class="nav-buttons">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> 
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.ID">Delete</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transactions)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Resource</th>
                    <th>Description</th>
                    <th>Quantity</th>
                </tr>
                @foreach (var item in Model.Transactions) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resource.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
