@model ResourceControl.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Person</h2>
<div class="nav-buttons">
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
