@model IEnumerable<ResourceControl.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h2>People</h2>

<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary" asp-action="Create">New Person</a>
    </div>
    <div class="col-xs-10">
        <form class="pull-right" asp-controller="Persons" asp-action="Index" method="get">
            <input type="text" class="form-text" name="SearchString">
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>
</div>

<table class="table margin clickable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href='@Url.Action("Details", "People", new {id = item.ID})'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
