@model ResourceControl.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h2>New Transaction</h2>
<div class="nav-buttons">
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ResourceID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ResourceID" class ="form-control" asp-items="ViewBag.ResourceID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
