@model IEnumerable<ResourceControl.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Transactions</h2>

<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary" asp-action="Create">New Transaction</a>
    </div>
    <div class="col-xs-10">
        <form class="pull-right" asp-action="Index" method="get">
            <input type="text" class="form-text" name="SearchString">
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>
</div>
<table class="table margin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
